*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #111;

    --border: 2px solid rgba(36, 36, 36);
    --main-text-color: #eee;
    --secondary-text-color: #868686;

    --button-inactive-color: #222;
    --button-active-color: #d00069;
    --button-hover-color: #444;

    --table-row-primary-color: rgb(29, 29, 29);
    --table-row-secondary-color: rgb(22, 22, 22);
}

body {
    margin: 0;
    color: var(--main-text-color);
}

button {
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary-text-color);
    cursor: pointer;
    background: var(--button-inactive-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: background 0.2s ease;

    /* Necessary for switching between F1, F2, and F3*/
    z-index: 1;

    /* Disable zoom on double-tap */
    touch-action: manipulation;
}

button:hover {
    background: var(--button-hover-color);
    color: var(--main-text-color);
}

button:disabled {
    text-decoration: line-through;
}

button:disabled:hover {
    cursor: default;
    background: var(--button-inactive-color);
    color: var(--secondary-text-color);
}

a {
    color: inherit;
    text-decoration: inherit;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--button-hover-color);
}

@media only screen and (max-width: 768px) {
    button {
        font-size: 18px;
    }
}